<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="FluentService.TestHost.MyService">
        <endpoint address="net.tcp://localhost:8080/MyService"
                  binding="netTcpBinding"
                  contract="FluentService.TestHost.IMyService" />
        <endpoint address="net.tcp://localhost:8080/MyService"
                  binding="netTcpBinding"
                  contract="FluentService.TestHost.IMyServiceWithCallback" />
      </service>
    </services>
  </system.serviceModel>
</configuration>