<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8080/MyService"
                binding="netTcpBinding"
                contract="FluentService.Tester.IMyService"
                name="tcp"/>
      <endpoint address="net.tcp://localhost:8080/MyService"
                binding="netTcpBinding"
                contract="FluentService.Tester.IMyServiceWithCallback" 
                name="callback"/>
    </client>
  </system.serviceModel>
</configuration>
